# Folder in container that contains configs for raiko
RAIKO_CONF_DIR=/raiko/config/devnet/

# Config file from RAIKO_CONF_DIR folder to use
BASE_CONFIG_FILE=config.json

# Chain spec list file from RAIKO_CONF_DIR folder to use
BASE_CHAINSPEC_FILE=chain_spec_list.json

# How many blocks to process in parallel during batch preflight operations
PREFETCH_CHUNK_SIZE=10

# Redis URL for caching
REDIS_URL=redis://redis:6379

# Rust log level
RUST_LOG=info

# Mock key (ecdsa private key) for testing, should be left empty for real proving
# If set, it will be used mock proving regardless of prover type.
# MOCK_KEY=
